plugins {
    autolock location="file:~/.config/zellij/plugins/zellij-autolock.wasm" {
        // Enabled at start?
        is_enabled true
        // Lock when any open these programs open.
        triggers "nvim|vim|git|fzf|zoxide|atuin"
        // Reaction to input occurs after this many seconds. (default=0.3)
        // (An existing scheduled reaction prevents additional reactions.)
        reaction_seconds "0.3"
        // Print to Zellij log? (default=false)
        print_to_log true
    }
    //...
}
// Load this "headless" plugin on start.
load_plugins {
    autolock
}
keybinds {
    // Keybindings specific to 'Normal' mode.
    normal {
        // Intercept `Enter`.
        bind "Enter" {
            // Passthru `Enter`.
            WriteChars "\u{000D}";
            // Invoke autolock to immediately assess proper lock state.
            // (This provides a snappier experience compared to
            // solely relying on `reaction_seconds` to elapse.)
            MessagePlugin "autolock" {};
        }
        //...
    }
    // Keybindings specific to 'Locked' mode.
    locked {
        bind "Alt z" {
            // Disable the autolock plugin.
            MessagePlugin "autolock" {payload "disable";};
            // Unlock Zellij.
            SwitchToMode "Normal";
        }
        //...
    }
    // Keybindings shared across all modes.
    shared {
        bind "Alt Shift z" {
            // Enable the autolock plugin.
            MessagePlugin "autolock" {payload "enable";};
        }
        //...
    }
    // Keybindings shared across all modes, except 'Locked'.
    shared_except "locked" {
        // Put keybindings here if they conflict with Vim or others.

        bind "Alt z" {
            // Disable the autolock plugin.
            MessagePlugin "autolock" {payload "disable";};
            // Lock Zellij.
            SwitchToMode "Locked";
        }

        bind "Ctrl h" {
            MoveFocusOrTab "Left";
        }
        bind "Ctrl l" {
            MoveFocusOrTab "Right";
        }
        bind "Ctrl j" {
            MoveFocus "Down";
        }
        bind "Ctrl k" {
            MoveFocus "Up";
        }

        // bind "Ctrl d" { HalfPageScrollDown; }
        // bind "Ctrl u" { HalfPageScrollUp; }

        // bind "Ctrl f" { PageScrollDown; }
        // bind "Ctrl b" { PageScrollUp; }

        //...
    }
    //...
}
